/* ini file css */

.main-header {
    text-align: center;
}

main{
    display: flex;
    justify-content: space-around; 
}

.main-section {
    width: 40%;
}

footer {
    text-align: center;
}

form {
    background-color: wheat;
    padding: 16px;
    border-radius: 8px;
}

.form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio-group {
    display: inline-flex;
    gap: 5px; /* Jarak antara opsi */
    align-items: center;
    margin-top: 5px;
}

input[type=number] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form-button-container {
    margin-top: 32px;
  }

  button {
    border: 0;
    padding: 8px;
    border-radius: 4px;
  }

  .bg-indian-red {
    background-color: indianred;
  }

  .bg-brown {
    background-color: brown;
  }

  .color-azure {
    color: azure;
  }

  /* Responsive */
  @media only screen and (max-width: 500px){
    main {
        flex-direction: column;
    }
    
    .main-section {
        width: 100%;
    }
    
  }